@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    @apply w-2;
}

::-webkit-scrollbar-track {
    @apply dark:bg-black;
}

::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-400 opacity-50 transition-colors duration-300 hover:bg-gray-300;
}
